<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woodward.joshua.ribbit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Model.RibbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".UI.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="woodward.joshua.ribbit.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.RecipientsActivity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="woodward.joshua.ribbit.UI.MainActivity" />
        </activity>
    </application>

</manifest>
